.contact {
  width: 100%;
  height: 30vh;
  position: relative;
  color: white;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  h3 {
    font-size: 1.5rem;
  }
  .sm {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    right: 7rem;
    gap: 1rem;
    font-size: 1.5rem;
    color: white;

    a {
      text-decoration: none;
      color: white;
      cursor: pointer;
      position: relative;

      display: flex;
      margin: 1rem;

      .svgIcon {
        position: absolute;

        top: -8px;
        left: 0;
      }
      &:hover {
        font-size: 1.8rem;
        color: bisque;
        bottom: 5px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-direction: row;
    gap: 7rem;

    .sm {
      right: 0;
    }
  }
}
